{% extends "_base.html" %}
{% block content %}
<h1>Welcome to ScrumTaskr</h1>
<h3>Please register to access the task list.</h3>
<form  method="POST" accept-charset="utf-8">
    {{ form.csrf.token }}
    <p>{{ form.name.label }}: {{ form.name }}
    {{ form.email.label }}: {{ form.email }}
   </p>
   <p>
   {{ form.password.label }}: {{ form.password }}
   {{ form.confirm.label }}: {{ form.confirm }}
   </p>

    <p><input type="submit" value="Register"></p>
</form>
<p><em>Already registered</em>Click <a href="/">here</a>to login</p>
{% endblock %}
